body {
  display: flex;
  padding: 100px 100px;
}

.sidebar {
  min-width: 300px;
  margin-right: 50px;
  background-color: maroon;
}

.my__swiper {
  overflow: hidden;
  background-color: cyan;
}

.swiper-wrapper {
}

.swiper-slide {
  /* background-color: cyan; */
}

.image {
  /* width: 100%; */
  /* height: 100%; */
  object-fit: contain;
}
